@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a img {
  width: 80px;
  height: 60px;
}

nav div {
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

nav div a {
  box-sizing: border-box;
  width: max-content;
}

nav div a:hover {
  text-decoration: underline;
  text-shadow: 1px 0 currentColor;
}

.pa{
  width: 100vw;
  display: flex;
  border: solid 1px green;
}

.image{
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  box-sizing: border-box;
  /* position: absolute; */
  z-index: -1;
}

.c1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondppagepart{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4em;
    box-sizing: border-box;
}

.secondppagepart img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}


h2,p{
    padding: 0;
    margin: 0;

}

.sidenote{
    border: solid 2px white;
    padding: 1em;
    padding-right: 2em;
    align-items: center;
    display: flex;
    gap: 1em;
    border-radius: 1em;
    
}

.c2{
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  gap: 2em;
  flex-direction: column;
  padding: 100px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.432);


}

.btn{
  padding: 0.6em;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  border-radius: 6px;
}

.btn span{
  color: rgb(255, 255, 255);
  font-size: 2em;
}

.btn i{
  color: rgb(255, 255, 255);
  font-size: 2em;
}


.anc{
  display: flex;
  text-decoration: none;
}

h2, h1{
  width: 100%;
  margin: 0;
  padding: 0;
}

.background-image{
    height: fit-content;
    width: fit-content;
}