@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.pa {
  width: 100vw;
  height: 100vh;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  background-image: url("humanoid-8722273_1920.png");
}

.image {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  box-sizing: border-box;
  /* position: absolute; */
  z-index: -1;
}

.c1 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: end;
}

.secondppagepart {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4em;
  box-sizing: border-box;
}

.secondppagepart img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

h2,
p {
  padding: 0;
  margin: 0;
}

.sidenote {
  border: solid 2px white;
  padding: 1em;
  padding-right: 2em;
  align-items: center;
  display: flex;
  gap: 1em;
  border-radius: 1em;
}

.c2 {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: start;
  /* gap: 2em; */
  flex-direction: column;
  /* padding: 100px; */
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  /* background: rgba(0, 0, 0, 0.432); */
}

.btn {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 1em;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px white;
  border-radius: 1em;
}

/* height: 60px;
  border: solid 2px white;
  padding: 1em;
  padding-right: 2em;
  align-items: center;
  display: flex;
  gap: 1em;
  border-radius: 1em; */

.btn h2 {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  /* font-size: 2em; */
}

.btn i {
  color: rgb(255, 255, 255);
  /* font-size: 2em; */
}

.btn:hover{
  background-color: white;
}

.txtclr:hover{
  color: black;
}

.anc {
  display: flex;
  text-decoration: none;
}

h2,
h1 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.background-image {
  height: fit-content;
  width: fit-content;
}

.bigbox {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4em;
  box-sizing: border-box;
}

.bigbox img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.section-one-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.bigbox nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bigbox nav a img {
  width: 80px;
  height: 60px;
  z-index: 10;
}

.bigbox nav a img:hover {
  background-color: white;
}

nav div {
  position: relative;
  margin-top: -50px;
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

nav div a {
  box-sizing: border-box;
  width: max-content;
  color: white;
}

nav div a:hover {
  text-decoration: underline;
  text-shadow: 1px 0 currentColor;
}

h1,
h5 {
  padding: 0;
  margin: 0;
}

.textnote {
  height: 60px;
    border: solid 2px white;
    padding: 1em;
    padding-right: 2em;
    align-items: center;
    display: flex;
    gap: 1em;
    border-radius: 1em;
}